@page "/"
@using Volo.Abp.MultiTenancy

@inherits ProjectZenComponentBase
@inject ICurrentTenant CurrentTenant
@inject AuthenticationStateProvider AuthenticationStateProvider


<div class="container">
    <div class="p-5 text-center">
        <DisplayHeading Size="DisplayHeadingSize.Is4">ZEN Project</DisplayHeading>
        <Alert Color="Color.Info" Visible>
            <AlertMessage>@L["LongWelcomeMessage"]</AlertMessage>
        </Alert>

        @if (!CurrentUser.IsAuthenticated)
        {
            <a class="btn btn-outline-primary" href="/authentication/login">
                <i class="fa fa-sign-in-alt"></i> @L["Login"]
            </a>
        }
        else
        {
            <h5>Welcome @CurrentUser.UserName</h5>
        }
    </div>
    <Image Class="main-image" src="/images/RiskMonitor.png" />
</div>
<style>
    .main-image {
        display: block;
        margin: auto auto;
        width: 700px;
        height: auto;
        border-radius: 8px;
        box-shadow: 3px 3px 6px lightgrey;
    }
</style>
@code {

    }