@page "/"
@using Volo.Abp.MultiTenancy

@inherits ProjectZenComponentBase
@inject ICurrentTenant CurrentTenant
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="container">
    <div class="p-5 text-center">
        <Badge Color="Color.Info" class="mb-4">
            <h1 class="m-1"> <i class="fas"></i>ZEN Project</h1>
        </Badge>
        <p class="lead px-lg-5 mx-lg-5">@L["LongWelcomeMessage"]</p>

        @if (!CurrentUser.IsAuthenticated)
        {
            <a class="btn btn-primary" href="/authentication/login">
                <i class="fa fa-sign-in-alt"></i> @L["Login"]
            </a>}
        else
        {
            <h2>Welcome @CurrentUser.UserName</h2>
        }
    </div>
        <img width="90%" src="/images/RiskMonitor.png"/>
</div>

@code {
   
    }